name: climate_change_projects
description: "A new Flutter project."
publish_to: 'none'
version: 2.1.0+15

environment:
  sdk: '>=3.5.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations: 
    sdk: flutter
  cupertino_icons: ^1.0.6
  intl: ^0.20.2
  word_cloud: ^1.0.3
  url_launcher: ^6.3.2
  realm: ^20.2.0
  gal: ^2.3.2
  firebase_core: ^4.2.1
  firebase_crashlytics: ^5.0.4
  firebase_analytics: ^12.0.4
  firebase_performance: ^0.11.1
  get_it: ^9.0.5

design_system:
  path: ./packages/design_system

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.14.4

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/
  
flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  remove_alpha_ios: true
  image_path: "assets/icon.png"
  min_sdk_android: 21
  web:
    generate: true
    image_path: "web/favicon.png"
    background_color: "#fff"
    theme_color: "#fff"

scripts:
  run: "fvm flutter gen-l10n && fvm flutter pub get"
#  dart pub global activate rps
#  rps
